.cakes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cakes {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 8px;
}

.cakes_item {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 30px;
}

.cakes_name {
    font-family: "Bookman Old Style";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cakes_price{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Bookman Old Style";
}

.cakes_item > img{
    width: 50vw;
    max-width: 500px;
}

.cakes_buyButton {
    cursor: pointer;
    width: fit-content;
    background-color: white;
    color: #dd1720;
    border: 1px solid var(--primary);
    padding: 15px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 6px darkred;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cakes_buyButton:hover{
    background-color: #dd1720;
    color: white;
}

.cakes_buyButton:active {
    background-color: #dd1720;
    box-shadow: 0 5px firebrick;
    transform: translateY(4px);
}

pre {
    color: deeppink;
    margin-left: 10px;
    font-family: 'Consolas', monospace;
}

@media screen and (max-width: 640px) {
    pre {
        display: none;
    }
}

.comments{
    margin: 20px;
}

.comments > h3{
    margin-bottom: 20px;
    font-family: "Bookman Old Style";
    font-size: 18px;
    font-weight: 600;
}

.comment_item{
    margin-bottom: 20px;
    padding: 5px;
    border: 1px dotted var(--primary);
}