
.bucket_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.bucket_content {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bucket_title {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #dd1720;
    margin-bottom: 12px;
    font-family: "Segoe Script", serif
}

.bucket_buyButton {
    cursor: pointer;
    background-color: white;
    color: #dd1720;
    border: 1px solid var(--primary);
    padding: 15px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 6px darkred;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bucket_buyButton:hover {
    background-color: #dd1720;
    color: white;
}

.bucket_buyButton:active {
    background-color: #dd1720;
    box-shadow: 0 5px firebrick;
    transform: translateY(4px);
}

pre {
    color: deeppink;
    margin-left: 10px;
}