@import url('./ResetStyles.css');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

@font-face {
    font-family: 'Stick';
url('./fonts/Stick-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

:root {
    --primary: #dd1720;
}


body {
    background-color: white;
    scrollbar-width: none;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    background-color: var(--primary);
    padding: 10px;
    position: sticky;
    top: 0
}

.header_title-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.header_title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 36px;
    color: whitesmoke;
    font-family: "Bookman Old Style", sans-serif;
    font-style: italic;
}

.header_logo {

}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px
}

.header_nav-link {
    color: white;
    font-weight: bold;

}

.header_nav-link__bucket {
}

.adv-container {
    display: flex;
    justify-content: space-between;
}

.content{
    flex-grow: 1;
    padding: 20px;
}

.history {
}

.history > p {
    line-height: 1.1;
    font-size: 18px;
}

.history_header {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #dd1720;
    margin-bottom: 12px;
    font-family: "Segoe Script", serif
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 20px
}

.gallery > img {
    height: 250px;
    box-shadow: 10px 5px 5px var(--primary);
}

.shops {

}

.shops_header {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #dd1720;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Segoe Script"
}

.shops_list {
    margin-left: 20px;
    list-style-image: url("./assets/candy-svgrepo-com.svg");
}

.shops_list > li {
    line-height: 1.1;
    font-size: 18px;
}

.news {
    width: 300px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}

.news_item {
    padding: 8px;
}

.news_item > img {
    max-width: 100%;
}

.city-birthday {
    text-transform: uppercase;
    font-family: "Bookman Old Style"
}

.city-birthday > img {
    margin-top: 8px;
    margin-bottom: 8px;
}

.quote {
    border: 1px solid #795a54;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    background-color: #795a54;
}

.quote > h4 {
    text-decoration: underline;
    margin-bottom: 4px;
    font-family: "Segoe Script";
    color: white;
}

.quote > q {
    font-family: "Bookman Old Style";
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_contact {
    margin: 4px;
}

.socials__logo {
    width: 32px;
    height: 32px;
}